/* Flash Messages */

.flash-messages {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    max-height: none; /* Remova a altura máxima para permitir conteúdo de qualquer tamanho */
    overflow-y: visible; /* Permitir que o conteúdo ultrapasse a altura do contêiner */
    z-index: 1000;
    display: none;
}

.flash-message {
    margin-bottom: 10px;
}