{% extends 'layouts/base.html' %}
{% block head %}
<title>Página de Registro</title>
{% endblock %}
{% block body %}
<div class="container mt-5 col-2">
  <form method="POST" action="{{ url_for('auth.register') }}">
    {{ form.hidden_tag() }}
    <label for="first_name">First Name:</label>
    {{ form.first_name() }}
    <br>
    <label for="last_name">Last Name:</label>
    {{ form.last_name() }}
    <br>
    <label for="email">E-mail:</label>
    {{ form.email() }}
    <br>
    <label for="password">Password:</label>
    {{ form.password() }}
    <br>
    <label for="confirm_password">Confirmar Senha:</label>
    {{ form.confirm_password() }}
    <br>
    {{ form.submit() }}
  </form>
  <hr>
  <a href="#">Login into existing account!</a>
</div>

{% endblock %}