<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/auth.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/inc/flash-messages.css') }}"> <!-- Mensagens Flash -->
  <link rel="icon" href="{{ url_for('static', filename='icons/favicon/covabra.png') }}" type="image/x-icon"/>
  {% block head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  {% include 'inc/flash-messages.html' %} <!-- Mensagens Flash -->
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script> <!-- JS da Aplicação -->
<script src="{{ url_for('static', filename='js/inc/flash-messages.js') }}"></script> <!-- Mensagens Flash -->
</html>